<!-- need a button that will submit user input into database -->
<div class="container semi-opaque px-5">
    <header class="p-5 text-center">
        <h1><i class="fas fa-hamburger"></i> Welcome to Burger Time! <i class="fas fa-hamburger"></i></h1>

    </header>
    <div class="row pb-5 d-flex justify-content-between">

        <div class='col-sm-12 col-md-6'>
            <h3 class="text-center">Available</h3>
            <div class="burger d-flex justify-content-between">
                Cras justo odio<button type="button" class="btn btn-primary"><i class="fas fa-utensils"></i> Eat
                    It!</button>
            </div>
            <div class="burger d-flex justify-content-between">
                Cras justo odio<button type="button" class="btn btn-primary"><i class="fas fa-utensils"></i> Eat
                    It!</button>
            </div>
            <div class="burger d-flex justify-content-between">
                Cras justo odio<button type="button" class="btn btn-primary"><i class="fas fa-utensils"></i> Eat
                    It!</button>
            </div>
        </div>
        <div class='col-sm-12 col-md-6'>
            <h3 class="text-center">Consumed</h3>
            <div class="eaten d-flex justify-content-between">
                Cras justo odio
            </div>
            <div class="eaten d-flex justify-content-between">
                Cras justo odio
            </div>
        </div>

    </div>

    <div class="row pb-5 ">
        <div class="col-12">
            <form method="POST" class="bg-white p-3">
                <p>Enter the name of the burger you would like to eat.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> Add New
                            Burger</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>